node_modules
.DS_STORE
_dist
_test
_docs
.firebase
functions/index.js
functions/templates
functions/posts
functions/node_modules
*.log
*.err
cypress/screenshots
cypress/videos
.env/env.sh
output
src/server/index.js
src/server/templates
src/server/posts
content.txt